html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgb(6, 1, 39); */
    background: rgb(0, 0, 0);
}

canvas{
    touch-action: none;
}

.info{
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 1;
    color: wheat;
    background-color: rgba(0, 0, 0, 0.642);
    width: 350px;
    padding: 3px;
    border: 5px double wheat;
    text-align: center;
}

.figuras{
    position: absolute;
    width: 200px;
    background-color: red;
    top: 20px;
    left: 20px;
}